h1{
    color:darkred
}
body{
    background-color:rgb(169, 209, 223)
}
.header{
background-color:rgb(154, 113, 207);
display:flex;
justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    
}
h2,p{
    text-align:center;
}